.btn {
  display: inline-block;
  width: 106px;
  text-align: center;
  padding: 6px 0;
  font-weight: 700;
  background-color: #ffffff;
  color: rgb(17, 1, 70);
  font-size: 16px;
  box-shadow: 0 2px 6px rgba(17, 1, 70, 0.5), 3px 6px 9px rgba(17, 1, 70, 0.3);
  border-bottom: 4px solid rgb(17, 1, 70);
  border-radius: 6px;
}

.btn:hover {
  background-color: rgb(17, 1, 70);
  color: #ffffff;
  border-bottom: 4px solid rgb(180, 159, 248);
}
.outlet {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
  display: flex;
}
.link:not(:last-child) {
  margin-right: 32px;
}

.link {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 115px;
  padding: 6px 0;
  font-weight: 500;
  background-color: #ffffff;
  color: rgb(17, 1, 70);
  font-size: 20px;
  border-bottom: 4px solid rgb(17, 1, 70);
  border-radius: 4px;
}
.link:hover {
  background-color: rgb(17, 1, 70);
  color: #ffffff;
  border-bottom: 4px solid rgb(180, 159, 248);
}
.activeLink {
  composes: link;
  background-color: rgb(17, 1, 70);
  color: #ffffff;
  border-bottom: 3px solid rgb(180, 159, 248);
}
