.list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.items {
  width: 262.5px;
  margin: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  border-radius: 6px;
  overflow: hidden;
}
.title {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px 10px;
  text-decoration: none;
  color: rgb(17, 1, 70);
  font-size: 16px;
  font-weight: 500;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.items__img {
  display: block;
  width: 100%;
}
.link {
  text-decoration: none;
}
