.header {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding-top: 18px;
}
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.menu__item:not(:last-child) {
  margin-right: 30px;
}
.link {
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  font-weight: 500;
  color: #2a363b;
  font-size: 28px;
  box-shadow: 0 2px 6px rgba(17, 1, 70, 0.5), 3px 6px 9px rgba(17, 1, 70, 0.3);
  border: 4px solid rgb(17, 1, 70);
  border-radius: 10px;
}

.activeLink {
  composes: link;
  background-color: rgb(17, 1, 70);
  color: #ffffff;
  border: 4px solid rgb(180, 159, 248);
}
